* {
	margin: 0;
	padding: 0;
}

#nav-container ul {
	color: #666;
	display: inline;
	font-family: sans-serif;
	font-size: 0.8em;
	position: relative;
	top: 2em;
	word-spacing: 1em;
}

#nav-container ul li {
	display: inline;
}

#nav-container ul#nav-left {
	float: left;
	padding-left: 1.7em;
}

#nav-container ul#nav-right {
	float: right;
	padding-right: 1.7em;
}

#nav-container ul#nav-right li#sign-in {
	background-color: blue;
	border-radius: 5%;
	color: white;
	font-weight: bold;
	padding: 0.7em;
	word-spacing: 0.1em;
}

#main-container {
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	width: 50%;
}

/**********
 * FOOTER *
 **********/

#footer-container {
	background-color: #eee;
	border-top: 1px solid #ddd;
	bottom: 0%;
	position: fixed;
	display: inline;
	width: 100%;
}

#footer-container ul {
	color: #555;
	display: inline;
	font-family: sans-serif;
	font-size: 0.85em;
	padding-bottom: 0.8em;
	padding-top: 0.8em;
	/*position: relative;*/
	word-spacing: 1em;
}

#footer-container ul li { display: inline; }

#footer-container ul#footer-left {
	float: left;
	padding-left: 2em;
}

#footer-container ul#footer-right { 
	float: right; 
	padding-right: 2em;
}

#footer-container ul li#multiword { word-spacing: 0.1em; }